[Unit]
Description=bnb-simple-nodejs-app
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=ubuntu
Group=ubuntu
Restart=always
WorkingDirectory=/home/ubuntu/bnb-simple-nodejs-app/api
ExecStart=/usr/bin/node index.js
